/*body{
    font-family: 'Varela Round', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}

h1{
    font-size: 32px;
}

#logo{
    float: left !important;
}


body .container {
    background-image: url("../img/bg.jpeg");
    margin: 0;
    padding: 0;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    width: 100%;
    height: 100%;
}

ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin-right: 100px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

ul li {
    text-shadow: 3px 3px 5px rgba(74, 74, 74, 0.33);
}

.li-item a {
    text-decoration: none;
    color: #FFE60D;
    display: inline;
    padding: 20px;
    font-weight: bold;
    font-size: 18px;
    transition: transform 0.2s ease-in-out;
}

.li-item a:hover{
      transform: scale(1.2);
      cursor: pointer;
      color: #FFFFFF; 
}

.nav-list {
padding-top: 30px;
display: flex;
flex-wrap: wrap;
flex-direction: row;
}

.content {
    padding: 250px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.content h1{
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 64px;
    margin-bottom: -10px;
    letter-spacing: 3px;
   text-shadow:2px 2px 8px black;

}

.content h2{
 opacity: 0.85; 
    color: #FFFFFF;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 3px;  text-shadow:2px 2px 8px black;

}

li img{
    width: 150px;
    height: 150px;
    margin-top: -50px;
    transition: all .6s ease-in-out;
}

li img:hover{
    transform: scale(1.1);
}
.navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: uppercase;
    text-shadow: 3px 3px 5px rgba(74, 74, 74, 0.33);
}

html{
    font-family: 'Varela Round', sans-serif;
    color: #ffffff;
}

ul,nav{
    list-style: none;
}

a{
    text-decoration: none;
}

.background-image{
    background-image: url("../img/bg.jpeg");
}
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 80px;
}

header img{
    width: 150px;
    height: 150px;
}

header {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav {
    display: flex;
}

header nav li {
    color: #FFE60D;
    display: inline;
    padding: 20px;
    font-weight: bold;
    font-size: 18px;
    margin: 0 15px;
    transition: transform 0.5s ease-in-out;
}

header nav li:hover {
    transform: scale(2);
    color: #FFFFFF;
    cursor: pointer;
}

.main{
    position: relative;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    color: #ffffff;
}

.main .background-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.main h1{
    letter-spacing: 3px;
    font-size: 64px;
}

.main h2{
    opacity: .8;
}

